{% extends 'layouts/app.html' %}
{% load static %}

{% block title %}Sección Parqueadero{% endblock %}

{% block content %}
<div class="container py-5">
    <h2 class="text-center mb-4">Módulo de Parqueadero</h2>

    <div class="text-center mb-4">
        <button class="btn btn-primary mx-2" id="btnConsulta">Consulta</button>
        <button class="btn btn-success mx-2" id="btnRegistro">Registro Parqueadero</button>
    </div>

    {% include 'secciones/partials/consulta.html' with rol='parqueadero' %}
    {% include 'secciones/partials/registro.html' with rol='parqueadero' %}
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/toggle_forms.js' %}"></script>
{% endblock %}