{% extends "layouts/app.html" %}
{% load static %}

{% block title %}Panel Principal - SIORTISOFT{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<div style="padding-top: 1%;"></div>

<div class="login-register mt-5 text-center">
    {% if request.user.is_authenticated %}
    {% else %}

    <div class="button-group mt-3">
        <a href="{% url 'login' %}" class="btn btn-login">Iniciar Sesión</a>
        <a href="{% url 'register' %}" class="btn btn-register">Registrarse</a>
    </div>
    {% endif %}
</div>
<div class="container my-4">
    <h1 class="text-center mb-4">Panel Principal</h1>

    <h2 class="text-center mb-4">Usuarios</h2>
    <div class="row g-4">
        <div class="col-md-4">
            <a href="#" class="text-decoration-none text-dark">
                <div class="card dashboard-card text-center" id="cardUsuarios">
                    <div class="card-body">
                        <h5 class="card-title">Modulo Personal</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="#" class="text-decoration-none text-dark">
                <div class="card dashboard-card text-center" id="cardEstudiantes">
                    <div class="card-body">
                        <h5 class="card-title">Modulo Estudiantes</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="{% url 'docentes.index' %}" class="text-decoration-none text-dark">
                <div class="card dashboard-card text-center" id="cardDocentes">
                    <div class="card-body">
                        <h5 class="card-title">Modulo Docentes</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <h2 class="text-center mt-5 mb-4">Administrativos</h2>
    <div class="row g-4">
        <div class="col-md-4">
            <a href="#" class="text-decoration-none text-dark">
                <div class="card dashboard-card text-center" id="cardOficinas">
                    <div class="card-body">
                        <h5 class="card-title">Oficinas</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="#" class="text-decoration-none text-dark">
                <div class="card dashboard-card text-center" id="cardVigilantes">
                    <div class="card-body">
                        <h5 class="card-title">Vigilantes</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="#" class="text-decoration-none text-dark">
                <div class="card dashboard-card text-center" id="cardEnfermeria">
                    <div class="card-body">
                        <h5 class="card-title">Enfermería</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <h2 class="text-center mt-5 mb-4">Servicios</h2>
    <div class="row g-4">
        <div class="col-md-4">
            <a href="#" class="text-decoration-none text-dark">
                <div class="card dashboard-card text-center" id="cardParqueadero">
                    <div class="card-body">
                        <h5 class="card-title">Parqueadero</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="#" class="text-decoration-none text-dark">
                <div class="card dashboard-card text-center" id="cardVisitantes">
                    <div class="card-body">
                        <h5 class="card-title">Visitantes</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="{% url 'acudientes.index' %}" class="text-decoration-none text-dark">
                <div class="card dashboard-card text-center" id="cardAcudientes">
                    <div class="card-body">
                        <h5 class="card-title">Acudientes</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>


</div>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}