{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>

    <div class="login-card">
        <h1>Login</h1>

        {% if messages %}
        {% for message in messages %}
        <div class="error">{{ message }}</div>
        {% endfor %}
        {% endif %}

        <form method="POST">
            {% csrf_token %}

            <input type="email" name="email" placeholder="Correo" required>

            <input type="password" name="password" placeholder="Contraseña" required>

            <button type="submit">Ingresar</button>
        </form>

        <div class="links">
            <a href="#">Olvidé mi contraseña</a>
        </div>
    </div>

</body>

</html>